<div id="page">
<h1>New server added</h1>
<p>Category: <%= @category.name %></p>

<% form_for([@category, @server]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :disabled => 'disabled' %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description, :disabled => 'disabled' %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address, :disabled => 'disabled'%>
  </p>
<% end %>

</div>
