<!DOCTYPE html>
<html>
    <head>
        <title>LTC - Lk Tactical Center</title>
        <meta charset="UTF-8" />
        <%= stylesheet_link_tag '52Framework/reset.css' %>
        <%= stylesheet_link_tag '52Framework/general.css' %>
        <%= stylesheet_link_tag '52Framework/css3.css' %>
        <%= stylesheet_link_tag '52Framework/grid.css' %>
        <%= stylesheet_link_tag 'menu/superfish.css' %>
        <%= stylesheet_link_tag 'custom/jquery-ui.css' %>
        <%= stylesheet_link_tag 'common.css' %>

        <%= javascript_include_tag :defaults %>
        <% javascript_include_tag 'jquery.js' %>
        <% javascript_include_tag 'jquery-ui.js' %>
        <% javascript_include_tag 'menu/superfish.js' %>

    </head>
    <body>
