<%= render "shared/header" %>

<script type="text/javascript">
    $(function() {
        $('#menu1').superfish();
        $('#menu2').superfish();
        $('#menu3').superfish();
    })
</script>
    <div class="raw">
    <% @categories.each do |category| %>

        <section class="category">
            <header>
            <div class="menu">
                <ul id="menu<%= category.id() %>" class="sf-menu">
                    <li><a>Options</a>
                        <ul>
                            <li><a>Categories</a>
                                <ul>
                                    <li><%= link_to 'Add', new_category_path %></li>
                                    <li><%= link_to 'Edit', edit_category_path(category) %></li>
                                    <li><%= link_to 'Remove', category, :confirm => 'Are you sure?', :method => :delete %></li>
                                </ul>
                            </li>
                            <li><a>Servers</a>
                                <ul>
                                    <li><%= link_to 'Add server', new_category_server_path(category) %></li>
                                    <li><a href="#">Remove server</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <h2><%=h category.name %> <%=h category.description %></h2>
            </header>
            <section>
            <% @servers.each do |server| %>
                <%= server.name if server.category_id == category.id  %>
            <% end %>
            </section>
        </section>
    <% end %>
    </div>
<%= render "shared/footer" %>
