<%= render "shared/header" %>

<script type="text/javascript">
    $(function() {
        $('#menu1').superfish();
        $('#menu2').superfish();
        $('#menu3').superfish();
    })
</script>
    <header>
        <h2>LTC - Status</h2>
    </header>

    <div class="raw">

    <% @categories.each do |category| %>

        <section class="category">
            <header>
            <div class="menu">
                <ul id="menu<%= category.id() %>" class="sf-menu">
                    <li><a>Options</a>
                        <ul>
                            <li><a>Categories</a>
                                <ul>
                                    <li><%= link_to 'Add', new_category_path %></li>
                                    <li><%= link_to 'Edit', edit_category_path(category) %></li>
                                    <li><%= link_to 'Remove', category, :confirm => 'Are you sure?', :method => :delete %></li>
                                </ul>
                            </li>
                            <li><a>Servers</a>
                                <ul>
                                    <li><%= link_to 'Add server', new_category_server_path(category) %></li>
                                    <li><%= link_to 'Show servers', category_path(category) %></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <h3><%=h category.name %> <%=h category.description %></h3>
            </header>
            <section>
            <% @servers.each do |server| 
               if server.category_id == category.id %>
                <article>
                <%= periodically_call_remote :update => server.id, :url => {:controller => "servers", :action => "status", :id => server.id}, :frequency => 5.0 %>
                <div id="<%= server.id %>">
                    <p>Waiting for data</p>
                </div>
                </article>
            <% end 
               end %>
            </section>
        </section>
    <% end %>
    </div>
<%= render "shared/footer" %>
